Checks: >
  -*,
  cppcoreguidelines-pro-type-member-init,
  modernize-redundant-void-arg,
  modernize-use-bool-literals,
  modernize-use-default-member-init,
  modernize-use-nullptr,
  readability-braces-around-statements,
  readability-redundant-member-init
WarningsAsErrors: '*'
HeaderFilterRegex: [h, hpp]
ImplementationFileExtensions: [c,cpp]
HeaderFilterRegex: (include|src)/
FormatStyle: file
CheckOptions:
  cppcoreguidelines-pro-type-member-init.IgnoreArrays: true
  cppcoreguidelines-pro-type-member-init.UseAssignment: true
  modernize-use-bool-literals.IgnoreMacros: false
  modernize-use-default-member-init.IgnoreMacros: false
  modernize-use-default-member-init.UseAssignment: true
